[Unit]
Description=fan ctrl

[Service]
Type=simple
ExecStart=/usr/local/bin/fan-ctrl.sh
ExecStopPost=/usr/local/bin/fan-ctrl-stop.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fanctrl

[Install]
WantedBy=multi-user.target
